AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/CodeChunks.db
AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/SemanticSymbols.db
AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
AlunosApi/.vs/AlunosApi/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
AlunosApi/.vs/AlunosApi/FileContentIndex/0e6dc905-3082-4a46-8f31-a9d492bc439c.vsidx
AlunosApi/.vs/AlunosApi/FileContentIndex/6a7575ad-e7c5-412e-ab57-90a753d87b50.vsidx
AlunosApi/.vs/AlunosApi/FileContentIndex/78e189a6-abd0-4da4-9902-e33d9fc7cb61.vsidx
AlunosApi/.vs/AlunosApi/FileContentIndex/1922f3f8-0808-49d1-b9f6-45d68d942e40.vsidx
AlunosApi/.vs/AlunosApi/FileContentIndex/7857ad0a-4b4c-4df0-8908-c9fa5f4958f8.vsidx
AlunosApi/AlunosApi/AlunosApi.csproj.user
AlunosApi/AlunosApi/bin/*
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.AssemblyInfoInputs.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.assets.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.csproj.AssemblyReference.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.csproj.CoreCompileInputs.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.csproj.FileListAbsolute.txt
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.csproj.Up2Date
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.dll
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.GeneratedMSBuildEditorConfig.editorconfig
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.genruntimeconfig.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.GlobalUsings.g.cs
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.MvcApplicationPartsAssemblyInfo.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.MvcApplicationPartsAssemblyInfo.cs
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.pdb
AlunosApi/AlunosApi/obj/Debug/net9.0/AlunosApi.sourcelink.json
AlunosApi/AlunosApi/obj/Debug/net9.0/ApiEndpoints.json
AlunosApi/AlunosApi/obj/Debug/net9.0/apphost.exe
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets.build.endpoints.json
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets.build.json
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets.removed.txt
AlunosApi/AlunosApi/obj/Debug/net9.0/EndpointInfo/AlunosApi.json
AlunosApi/AlunosApi/obj/Debug/net9.0/EndpointInfo/AlunosApi.OpenApiFiles.cache
AlunosApi/AlunosApi/obj/Debug/net9.0/ref/AlunosApi.dll
AlunosApi/AlunosApi/obj/Debug/net9.0/refint/AlunosApi.dll
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets/msbuild.build.AlunosApi.props
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.AlunosApi.props
AlunosApi/AlunosApi/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.AlunosApi.props
AlunosApi/AlunosApi/Properties/launchSettings.json
AlunosModelDB/AlunosModelDB.sln
AlunosModelDB/.vs/AlunosModelDB/CopilotIndices/17.13.439.2385/CodeChunks.db
AlunosModelDB/.vs/AlunosModelDB/CopilotIndices/17.13.439.2385/SemanticSymbols.db
AlunosModelDB/.vs/AlunosModelDB/DesignTimeBuild/.dtbcache.v2
AlunosModelDB/ModelORM/obj/*
AlunosApi/AlunosApi/obj/*
AlunosModelDB/.vs/*
AlunosModelDB/ModelORM/bin/*
AlunosModelDB/ModelORM/bin/Debug/net9.0/ModelORM.deps.json
AlunosModelDB/ModelORM/bin/Debug/net9.0/ModelORM.dll
AlunosApi/AlunosApi/obj/project.nuget.cache
AlunosModelDB/ModelORM/bin/Debug/net9.0/ModelORM.runtimeconfig.json
AlunosApi/.vs/AlunosApi/DesignTimeBuild/.dtbcache.v2
AlunosApi/.vs/AlunosApi/v17/.futdcache.v2
AlunosApi/.vs/ProjectEvaluation/*
AlunosApi/.vs/AlunosApi/v17/*
AlunosModelDB/ApiDomain/bin/*
AlunosApi/.vs/AlunosApi/v17/*
AlunosModelDB/DomainModelDesing/obj/Debug/net9.0/staticwebassets.removed.txt
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.backup.json
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.json
AlunosModelDB/ApiDomain/obj/ApiDomain.csproj.nuget.dgspec.json
AlunosModelDB/ApiDomain/obj/project.assets.json
AlunosModelDB/ApiDomain/obj/project.nuget.cache
AlunosModelDB/ApiDomain/obj/Debug/net9.0/ApiDomain.AssemblyInfoInputs.cache
AlunosModelDB/ApiDomain/obj/Debug/net9.0/ApiDomain.assets.cache
AlunosModelDB/ApiDomain/obj/Debug/net9.0/ApiDomain.csproj.CoreCompileInputs.cache
AlunosModelDB/ApiDomain/obj/Debug/net9.0/staticwebassets.build.endpoints.json
AlunosModelDB/ApiDomain/obj/Debug/net9.0/staticwebassets.build.json
AlunosModelDB/ApiDomain/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
AlunosModelDB/ApiDomain/obj/Debug/net9.0/staticwebassets.removed.txt
AlunosModelDB/ApiDomain/obj/Debug/net9.0/ref/ApiDomain.dll
AlunosModelDB/ApiDomain/obj/Debug/net9.0/refint/ApiDomain.dll
AlunosModelDB/ApiDomain/obj/Debug/net9.0/*
AlunosModelDB/ApiDomain/obj/ApiDomain.csproj.nuget.g.targets
AlunosModelDB/DomainModelDesing/obj/DomainModelDesing.csproj.nuget.dgspec.json
AlunosModelDB/DomainModelDesing/obj/DomainModelDesing.csproj.nuget.g.props
AlunosModelDB/DomainModelDesing/obj/DomainModelDesing.csproj.nuget.g.targets
AlunosModelDB/DomainModelDesing/obj/Debug/net9.0/DomainModelDesing.AssemblyInfoInputs.cache
AlunosModelDB/DomainModelDesing/obj/Debug/net9.0/DomainModelDesing.assets.cache
AlunosModelDB/DomainModelDesing/obj/Debug/net9.0/DomainModelDesing.GeneratedMSBuildEditorConfig.editorconfig
AlunosModelDB/DomainModelDesing/obj/Debug/net9.0/*
AlunosModelDB/ApiDomain/obj/ApiDomain.csproj.nuget.g.props
AlunosModelDB/DomainModelDesing/obj/project.assets.json
AlunosModelDB/DomainModelDesing/obj/project.nuget.cache
*.resx
*.vsidx
AlunoInfrastructure/.vs/AlunoInfrastructure/v17/.futdcache.v2
AlunoInfrastructure/.vs/AlunoInfrastructure/DesignTimeBuild/.dtbcache.v2
AlunoInfrastructure/.vs/AlunoInfrastructure/CopilotIndices/*
AlunoInfrastructure/.vs/AlunoInfrastructure/v17/*
AlunoInfrastructure/.vs/ProjectEvaluation/alunoinfrastructure.metadata.v9.bin
AlunoInfrastructure/.vs/ProjectEvaluation/alunoinfrastructure.projects.v9.bin
AlunoInfrastructure/.vs/ProjectEvaluation/alunoinfrastructure.strings.v9.bin
AlunoInfrastructure/Infrastructure/Infrastructure.csproj
AlunoInfrastructure/Infrastructure/bin/Debug/net9.0/Infrastructure.deps.json
AlunoInfrastructure/Infrastructure/bin/Debug/net9.0/Infrastructure.dll
AlunoInfrastructure/Infrastructure/bin/Debug/net9.0/Infrastructure.pdb
AlunoInfrastructure/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
AlunoInfrastructure/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
AlunoInfrastructure/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
AlunoInfrastructure/Infrastructure/obj/project.assets.json
AlunoInfrastructure/Infrastructure/obj/project.nuget.cache
AlunoInfrastructure/Infrastructure/obj/Debug/*
AlunosApi/.vs/AlunosApi/copilot-chat/32644928/sessions/682d956b-4890-42c5-903a-a4e7efddab35
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.pdb
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.sourcelink.json
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/ref/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/refint/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.pdb
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.sourcelink.json
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/ref/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/refint/Infrastructure.dll
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.backup.json
*.cache
AlunoInfrastructure/Infrastructure/obj/*
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.json
AlunoInfrastructure/Infrastructure/bin/Debug/net9.0/ModelORM.dll
AlunoInfrastructure/Infrastructure/bin/Debug/net9.0/ModelORM.pdb
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.pdb
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/Infrastructure.sourcelink.json
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/ref/Infrastructure.dll
AlunoInfrastructure/Infrastructure/obj/Debug/net9.0/refint/Infrastructure.dll
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.backup.json
AlunosApi/.vs/AlunosApi/v17/DocumentLayout.json
